---
import { Image } from "astro:assets";
import MainLayout from "~/layouts/main-layout.astro";
import Prose from "../components/prose.astro";
import SideImage from "./side-image.astro";
import TextBlock from "./text-block.astro";

const {
    pageName = "#",
    prevHref = "#",
    nextHref = "#",
    title = "Default Title",
    description = "Default description",
} = Astro.props;
---

<MainLayout>
    <section class="flex h-screen flex-col md:flex-row">
        <div
            class="top-0 flex h-full w-full flex-col items-center p-2 pt-6 text-center"
        >
            <h1 class="font-bold text-white text-4xl">{title}</h1>
            <p class="italic text-white">{description}</p>
            <TextBlock
                pageName={pageName}
                prevHref={prevHref}
                nextHref={nextHref}
                class="overflow-y-auto"
            >
                <slot />
            </TextBlock>
        </div>
    </section>
</MainLayout>
